*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 0px 20px 20px 20px;
  text-decoration: none;
  font-style: normal;
  font-family: 'Hind', sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.left-column h1 {
  font-family: 'Yellowtail', cursive;
  font-size: 55px;
  color: #663366;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #663366;
}

.left-column {
  float: left;
  display: inline;
}

.right-column {
  width: 650px;
  min-height: 600px;
  float:left;
  margin-left: 20px;
  margin-top: 98px;
  padding: 20px;
  background-image: url(/marky-mark_opacity.jpg);
  background-size: cover;
  font-family: 'Hind', sans-serif;
  font-size: 14px;
  line-height: 25px;
}

textarea {
  resize: none;
  min-height: 600px;
  width: 650px;
  padding: 20px;
  font-family: 'Hind', sans-serif;
  font-size: 14px;
  line-height: 25px;
  background-image: url(/marky-mark2_opacity.jpg);
  background-size: cover;
}

textarea:focus {
  border: 1px solid purple;
  outline: 0;
}
