
<!-- <h1 class="title-left">MARKY MARKdown  </h1>
<h1 class="title-right">HTML </h1> -->

<div class="left-column">
  <h1>MARKY MARKdown</h1>
  {{textarea value=markdown placeholder="Write markdown here"}}
</div>

<div class="right-column">
  <div class="bg">
  {{showdown-addon markdown}}
  </div>
</div>

{{outlet}}
