
<h2 class="title-left">MARKY MARKdown!</h2>
<h2 class="title-right">HTML</h2>




<div class="left-column">
  {{textarea value=markdown}}
</div>


<div class="right-column">
  {{showdown-addon markdown}}
</div>



{{outlet}}
